<div class="row"  ng-hide="loaded">
              <div class="centro-loader">
                  <img src="dist/img/spin.svg" alt="progress" />
               </div>
 </div>
<div class="row animated fadeIn" ng-show="loaded">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title hidden-xs hidden-sm">Detalle sms</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" ng-model="busqueda" placeholder="Buscar">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-condensed">
                  <tr>
                  <th>ID</th>
                  <th>Fecha subida</th>
                  <th style="width: 40px">Envios</th>
                  <th style="width: 40px">Respuesta</th>
                </tr>
                <tr ng-repeat="layout in layoutInfo| filter:busqueda">
                  <td>{{layout.id_producto}}</td>
                  <td>{{layout.fecha_subida}}</td>
                  <td> <a href="../reporte.php?tipo=reporte-sms&AMP;tipo-reporte=1&AMP;producto={{layout.id_producto}}" class="btn btn-primary btn-sm" ng-disabled="layout.envio==0"> <i class="ion-android-download"></i></a> </td>
                  <td> <a href="../reporte.php?tipo=reporte-sms&AMP;tipo-reporte=2&AMP;producto={{layout.id_producto}}" class="btn btn-success btn-sm" ng-disabled="layout.respuesta==0"> <i class="ion-android-download"></i></a> </td>
                </tr>
                
              
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
</div>